*{
    margin: 0;
    padding: 0;
}
#nav-bar {
   color: white;
   margin: 25px 25px 25px 10px;
   display: inline-table;
   width: 95%;
}
ul{
    list-style-type: none;
    font-size: 1.7em;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(30, 30, 30);
}
li{
    background: rgb(60, 60, 60);
    padding: 5px 15px ;
    margin: 2px;
    display: inline-block;
  }
  li:hover{
  font-size: 1.1em;
  background: rgb(30, 30, 30);
  }
  a{
      text-decoration: none;
      color: white;
  }